
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
							<li class="list-inline-item"><a href="{{site.url}}">Home</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="about.html">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="contact.html">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="terms.html">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="privacy.html">Privacy Policy</a></li>
                        </ul>
						<p class="text-muted samll">Mobile: (+86)137-2586-0789 E-mail: sales@hingtak.com</p>
						<p class="text-muted small mb-4 mb-lg-0">© 2022 Hingtak Product Inc. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <a href="#!"><i class="fab fa-facebook fa-2x fa-fw"></i></a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="#!"><i class="fab fa-twitter-square fa-2x fa-fw"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="fab fa-instagram fa-2x fa-fw"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="{{site.url}}/assets/js/jquery-3.5.1.slim.min.js"></script>
        <script src="{{site.url}}/assets/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{site.url}}/assets/js/scripts.js"></script>
    </body>
</html>
