{% include header.html %}

        <!-- Call to Action-->
        <section class="call-to-action text-white text-center">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 mx-auto"><h2 class="mb-4">{{page.title}}</h2></div>
                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                        <h3>{{page.except}}</h3>
                    </div>
                </div>
            </div>
        </section>

        
       
        <!-- Image Showcases-->
        <section class="showcase bg-light">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-lg-6 showcase-text"> 						
                            <h5>{{page.title}}</h5>
					</div>
                    <div class="col-lg-6 my-auto showcase-text">
                       {{content}}
                    </div>
                </div>
            </div>
        </section>


{% include footer.html %}